<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">HOME</a>
            </li>
            <li>
                <a href="/about" class="">ABOUT</a>
            </li>
            <li>
                <a href="/contact" class="">CONTACT</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <a href="/logout">LogOut</a>
    </div>
</header>